//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

@import "sweetalert2/dist/sweetalert2.min.css";

.text-justify {
    text-align: justify;
}

.first-capitalize::first-letter {
    text-transform: uppercase;
}

.v-select.is-invalid > .vs__dropdown-toggle {
    border-color: var(--bs-form-invalid-border-color);
}

.filepond--root {
    margin-bottom: 0;
}

.img-height {
    height: 150px;
    object-fit: cover;
}
